
/* MODO OSCURO */
body.dark {
    background-color: #121212;
    color: white;
}

/* Header y Nadvar */
.dark .navbar {
    color: white;
    background-color: rgb(35, 35, 35);
}

.--oculto{
    display: none;
}

.dark .navbar .nav-link {
    color: white;
}

.dark .navbar .nav-link:hover {
    color: #ffcccb; /* Un color diferente para el hover en modo oscuro */
}

.dark .navbar .nav-link.active {
    color: rgb(251, 66, 66); /* Un color diferente para el active en modo oscuro */
}

.dark .navbar .form-control{
    background-color: #333;
    outline: none;
    border: 1px solid #444;
}

.dark .navbar .form-control::placeholder {
    color: rgba(217, 217, 217, 0.729);
}

/* Hero Section */
.dark .hero-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/contacto.jpg') no-repeat center center;
}

/* Main-content */
/* dark mode contacto y form de cotizacion*/
.dark .feedback-form {
    background-color: #2a2a2a;
    color: white;
}

.dark .div-contacto{
    background-color: #2a2a2a !important;
    color: white;
}

.dark h2{
    color: white !important;
}


.dark .feedback-form .form-control {
    background-color: #333;
    color: white;
    border: 1px solid #444;
    
}

.dark .feedback-form .form-control::placeholder {
    color: rgba(217, 217, 217, 0.729);
}

.dark select {
    color: rgba(217, 217, 217, 0.729) !important;
}

.dark select option {
    color: white; 
    background-color: #444; 
}

/* INFORMACION ADICIONAL CSS DARK*/

.dark .div-info-adicional{
    background-color: #2a2a2a !important;
    color: white;
}

.dark .feedback-form {
    background-color: #333 !important;
    color: white;
}

.dark .feedback-form input::placeholder {
    color: white;
}

.dark .feedback-form textarea::placeholder {
    color: white;
}


.dark .feedback-form input,
.dark .feedback-form textarea {
    background-color: #333 !important;
    border: 1px solid whitesmoke;
}

.dark .div-horario {
    background-color: #333 !important;
    color: whitesmoke;
    border: 1px solid #444 !important;
}

.dark .form-control:focus {
    border-color: #dc3545;
}

/* PREGUNTAS FRECUENTES */

/* Estilos en modo oscuro para el contenedor de FAQ */
.dark .accordion-item {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto claro */
    border: 1px solid #444; /* Borde más suave */
}

/* Estilos para el encabezado del acordeón en modo oscuro */
.dark .accordion-header {
    background-color: #444; /* Fondo más oscuro para el encabezado */
}

/* Botón del acordeón cuando está colapsado */
.dark .accordion-button.collapsed {
    background-color: #333; /* Fondo del botón */
    color: white; /* Color del texto */
    border-color: #555; /* Color de borde */
}

/* Botón del acordeón cuando está desplegado */
.dark .accordion-button:not(.collapsed) {
    background-color: #555; /* Fondo diferente cuando está abierto */
    color: #cfa708; /* Color más llamativo para el texto */
    box-shadow: inset 0 -1px 5px rgba(0,0,0,0.2); /* Sombra interna */
}

/* Cuerpo del acordeón cuando está desplegado */
.dark .accordion-body {
    background-color: #444; /* Fondo del contenido desplegado */
    color: #e0e0e0; /* Texto claro */
    border-top: 1px solid #555; /* Borde en la parte superior */
}

/* CARRUSEL DARK */

.dark .slider .slide img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    filter: none;
    opacity: 0.7;
}

.dark .slide img:hover {
    filter: grayscale(50%);
    opacity: 1;
    transform: scale(1.1);
}

/* QUITAR EL CONTORNO AZUL DE BOOTSTRAP A LOS IMPUT */

.form-control:focus, 
.form-select:focus, 
textarea.form-control:focus {
    box-shadow: none !important; 
    border-color: transparen !important; 
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important; 
    border-color: rgb(192, 47, 47) !important; 
}

.active {
    border-bottom: 3px solid #dc3545 !important;
}

.navbar {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    position: fixed !important;
    background-color: white;
    top: 0%;
    width: 100%;
    z-index: 1000; 
}

.hero-section {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../img/contacto.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(3, 3, 3, 0.034);
    filter: blur(1px);
}

.hero-content {
    position: relative;
    z-index: 1;
    animation: fadeInUp 1s ease-in-out;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-content p {
    animation: fadeInUp 1.5s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-content .btn {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
}

/* CONTACTANOS Y FORM DE COTIZACION */
.map-container {
    border-radius: 15px;
    overflow: hidden;
}

.border-3 {
    /* Estilos de horarios de atención */
    transition: box-shadow 0.3s, transform 0.3s;
}

.border-3:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    /* Agrandar ligeramente al pasar el ratón */
}

/* RESEÑAS Y HORARIO */
.feedback-form {
    /* formulario de reseña */
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feedback-form:hover {
    transform: scale(1.02);
}

.form-control {
    /* Input y Textarea */
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #dc3545;
    /* Cambio de borde al enfocarse */
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}


.border {
    /* Estilos de horarios de atención */
    transition: box-shadow 0.3s, transform 0.3s;
}

.border:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    /* Agrandar ligeramente al pasar el ratón */
}

/* PREGUNTAS FRECUENTES */

.faq-title {
    cursor: pointer;
    transition: color 0.3s;
}

.faq-title:hover {
    color: #050505;
}

/* CARRUSEL DE PROOVEDORES */
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    gap: 20px;
    animation: scroll 40s linear infinite;
    width: calc(120px * 18);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.7;
}

.slide img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 12));
    }
}

/* FOOTER CSS */

.text-reset {
    /* Reset de color de texto */
    text-decoration: none;
}

/* Keyframes for animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flipInX {
    from {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}