/* Estilos globales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 40px #0000;
    position: relative;
    /* Añadido */
    z-index: 1;
    /* Añadido */
}

.enlaces-navegacion {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.enlaces-navegacion li {
    margin: 0 10px;
}

.enlaces-navegacion a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
}

.enlaces-navegacion a.activo {
    background-color: #cf2e2e;
    color: white;
    height: 70px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-busqueda {
    display: flex;
}

.formulario-busqueda input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.boton-busqueda {
    padding: 5px 10px;
    border: 1px solid #cf2e2e;
    border-radius: 0 5px 5px 0;
    background-color: #cf2e2e;
    color: white;
    cursor: pointer;
}

.imagen-boton {
    width: 30px;
}

.logo_jimdur {
    width: 120px;
    height: 55px;
}

/* Estilos para el botón del menú hamburguesa */
.hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    /* Asegúrate de que esté por encima de otros elementos */
}


/* Estilos para contenido principal */

/* Contenedor de la sección "Principal- La de la imagen" */
.contenido {
    margin: 0 auto;
    padding: 0;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.seccion-imagen {
    /* Le quito todos los atributos del contenedor principal*/
    flex: 0 0 auto;
    width: 100%;
    gap: 0;
    box-shadow: 0 0 6px rgb(14, 14, 14);
}

.contenedor-imagen {
    background: url('../img/contactobg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 20px;
    text-align: center;
    color: white;
    height: 60vh;
}

.titulo-contactanos {
    padding-top: 12vh;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.subtitulo-contactanos {
    font-size: 20px;
    color: white;
}

/* Contenedor para los iconos de contacto */
.contenedor-iconos-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 0;
    height: 23vh;
}

.icono-contacto {
    text-align: center;
    color: black;
}

.icono-contacto img {
    width: 100px;
    margin-bottom: 10px;
}

.icono-contacto p {
    font-size: 16px;
    margin: 0;
}

.lineadivisora {
    padding: 0;
    margin: 0;
    width: 2px;
    height: 18vh;
    background-color: #626262;
    box-shadow: 0 0 100px rgb(183, 73, 73);
}

/* Contenedor FORMULARIO */
.seccion-mapa,
.seccion-formulario,
.seccion-proovedores {
    flex: 1 1 300px;
}

.mapa {
    width: 100%;
    height: 570px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grupo-input {
    display: flex;
    gap: 10px;
}

.formulario input,
.formulario textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.boton-enviar {
    background-color: #a00;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-enviar:hover {
    background-color: #800;
}

/* SECTION FORMULARIO */
.bloque-divisor {
    width: 50%;
    height: 80px;
    margin: 20px 0px;
    background-color: #c60033;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.contenedor-secundario {
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.seccion-proveedores {
    text-align: center;
    margin-bottom: 40px;
}

.contenedor-proveedores h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.contenedor-proveedores p {
    font-size: 20px;
    padding-bottom: 40px;
}

.Nuestros {
    color: black;
}

.Proveedores {
    color: #ff0000;
}

.flex-proveedores {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en varias filas */
    justify-content: center;
    /* Centra las tarjetas horizontalmente */
    gap: 30px;
    /* Espacio entre las tarjetas */
}

.tarjeta-proveedor {
    flex: 1 1 33.3%;
    /* Es para ver cuanto ocupa cada tarjeta, osea 100%/3 = 33.3*/
    max-width: 30%;
    /* Máximo ancho de cada tarjeta */
    border: 1px solid #ddd;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s linear;
    box-sizing: border-box;
}

.tarjeta-proveedor img {
    max-width: 90%;
    height: auto;
}

.tarjeta-proveedor:hover {
    transform: scale(1.05);
    /* Efecto hover */
}

/* FOOTER CSS */

.pie-pagina {
    background-color: #000000e7;
    color: #fff;
    padding: 20px 5%;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.contenido-footer {
    display: flex;
    align-items: center;
}

.seccion-footer {
    flex: 1 1 300px;
    padding: 0 20px;
}

.logo-footer img {
    width: 140px;
    margin-top: 10px;
}

.descripcion-footer {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

.linea-divisora {
    height: 260px;
    width: 2px;
    background-color: #fff;
    margin-left: 10%;
}

.enlaces-footer h3,
.contactos-footer h3 {
    color: #c60033;
    text-transform: uppercase;
    padding-left: 70px;
    padding-top: 0;
    margin-top: 0;
}

.enlaces-footer ul,
.contactos-footer ul {
    list-style-type: none;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
}

.enlaces-footer ul li,
.contactos-footer ul li {
    margin-bottom: 5px;
}

.enlaces-footer a,
.contactos-footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.enlaces-footer a:hover,
.contactos-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.logos-redes {
    padding-left: 70px;
}

.iconos-footer {
    width: 25px;
}

@media (max-width: 480px) {
    .tarjeta-proveedor {
        flex: 1 1 100%;
        /* 1 tarjeta por fila en pantallas muy pequeñas */
        max-width: 100%;
    }
}

/* Ocultar menú en dispositivos móviles y mostrar menú hamburguesa */
@media (max-width: 768px) {
    .barra-navegacion {
        flex-direction: column;
        align-items: center;
    }

    .enlaces-navegacion {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 0;
        background-color: white;
        width: 100%;
        border-top: 2px solid #ccc;
    }

    .enlaces-navegacion.nav-activo {
        display: flex;
    }

    .enlaces-navegacion li {
        text-align: center;
        margin: 10px 0;
    }

    .formulario-busqueda {
        margin-top: 10px;
        display: flex;
        width: 90%;
    }

    .formulario-busqueda input {
        width: 100%;
        border-radius: 25px 0 0 25px;
    }

    .boton-busqueda {
        border-radius: 0 25px 25px 0;
    }

    .hamburguesa {
        display: block;
    }

    /* Estilos del FORM PARA CELULARES */

    .contenedor-formulario {
        flex-direction: column;
        align-items: center;
    }

    .mapa {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .formulario {
        background-color: crimson;
        width: 80%;
        height: auto;
        color: #fff;
        text-transform: uppercase;
    }

    .formulario input,
    .formulario textarea {
        width: 96%;
        padding: 10px;
        margin-bottom: 10px;
        background: crimson;
        /* Fondo del input igual al fondo del formulario */
        color: white;
        /* Color del texto dentro del input */
        border: 2px solid white;
        /* Borde blanco */
        outline: none;
        /* Quita el contorno predeterminado */
    }

    /* Estilo para el placeholder dentro del formulario */
    .formulario input::placeholder,
    .formulario textarea::placeholder {
        color: white;
    }

    .tarjeta-proveedor {
        flex: 1 1 calc(50% - 20px);
        /* 2 tarjetas por fila en pantallas más pequeñas */
        max-width: calc(50% - 20px);
    }

    .tarjeta-proveedor img {
        width: 60%;
        height: auto;
    }
}

/* Estilos para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
    .enlaces-navegacion {
        font-size: 14px;
    }

    .formulario-busqueda input {
        width: 120px;
    }
}

/* Estilos para computadoras */
@media (min-width: 1025px) {
    .enlaces-navegacion {
        font-size: 18px;
    }

    .formulario-busqueda input {
        width: 200px;
    }
}