.active {
    border-bottom: 3px solid #dc3545 !important;
}

.navbar {
    box-shadow: 0 0 5px rgb(0, 0, 0) !important;
    position: fixed !important ;
    background-color: white !important;
    top: 0% !important;
    width: 100% !important;
    z-index: 1000 !important;
}

.main-content {
    margin-top: 0px;
    padding: 0;
}

.hero-section {
    position: relative;
    height: 80vh;
    background: url('../img/contactoOpacity.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    animation: fadeInUp 1s ease-in-out;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* CONTACTANOS Y FORM DE COTIZACION */
.map-container {
    border-radius: 15px;
    overflow: hidden;
}

.border-3 {
    /* Estilos de horarios de atención */
    transition: box-shadow 0.3s, transform 0.3s;
}

.border-3:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    /* Agrandar ligeramente al pasar el ratón */
}

/* RESEÑAS Y HORARIO */
.feedback-form {
    /* formulario de reseña */
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feedback-form:hover {
    transform: scale(1.02);
}

.form-control {
    /* Input y Textarea */
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #dc3545;
    /* Cambio de borde al enfocarse */
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}


.border {
    /* Estilos de horarios de atención */
    transition: box-shadow 0.3s, transform 0.3s;
}

.border:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    /* Agrandar ligeramente al pasar el ratón */
}

/* PREGUNTAS FRECUENTES */

.faq-title {
    cursor: pointer;
    transition: color 0.3s;
}

.faq-title:hover {
    color: #050505;
}

/* CARRUSEL DE PROOVEDORES */
.carousel-proveedores {
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    animation: scroll 15s linear infinite;
}

.xd {
    flex: 0 0 auto;
    padding: 0 15px;
    min-width: 120px;
}

.logo-img {
    width: 100px;
    height: 100px;
    /* Ensure all images have the same height */
    object-fit: contain;
    /* Ensure the aspect ratio is maintained */
    filter: grayscale(100%);
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

/* FOOTER CSS */

.text-reset {
    /* Reset de color de texto */
    text-decoration: none;
}

/* Keyframes for animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flipInX {
    from {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Animación de desplazamiento */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
