/* CSS PARA NOSOTROS */
/* Estilo general para la sección */
.contenedor__nosotros {
    background: url(../img/Nosotros.jpg) no-repeat center center/cover;
    /* Fondo claro */
    padding: 40px 20px;
    /* Espaciado vertical y horizontal */
    text-align: center;
    /* Centrar el texto */
    /* Margen alrededor de la sección */
    width: 100%;
    height: 80vh;
}

.contenedor__nosotros--titulo {
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 140px;
}

.contenedor__nosotros--subtitulo {
    font-size: 18px;
    color: white;
}


/* Media queries para hacer la sección responsiva */
@media (max-width: 768px) {
    .contenedor__nosotros {
        padding: 30px 15px;

    }

    .contenedor__nosotros--titulo {
        font-size: 40px;

    }

    .contenedor__nosotros--subtitulo {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .contenedor__nosotros {
        padding: 20px 10px;
        /* Espaciado aún más reducido para móviles */
    }

    .contenedor__nosotros--titulo {
        font-size: 40px;
        /* Tamaño de fuente del título más pequeño */
    }

    .contenedor__nosotros--subtitulo {
        font-size: 15px;
        /* Tamaño de fuente del subtítulo más pequeño */
    }
}

/* CSS PARA PROOVEDORES BOOTSTRAP*/
/* STYLE PARA LOS PROOVEDORES */
.proveedor-card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-top: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proveedor-card img {
    position: absolute;
    max-width: 80%;
    /* Asegura que la imagen se mantenga dentro de la tarjeta */
    max-height: 80%;
    /* Asegura que la imagen se mantenga dentro de la tarjeta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.proveedor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.proveedor-card:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.text-reset {
    text-decoration: none;
}