/* Estilos globales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 40px #0000;
    position: relative;
    min-width: 220px;
    /* Añadido */
    z-index: 1;
    /* Añadido */
}

.enlaces-navegacion {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.enlaces-navegacion li {
    margin: 0 10px;
}

.enlaces-navegacion a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
}

.enlaces-navegacion a.activo {
    background-color: #cf2e2e;
    color: white;
    height: 70px;
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-busqueda {
    display: flex;
}

.formulario-busqueda input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.boton-busqueda {
    padding: 5px 10px;
    border: 1px solid #cf2e2e;
    border-radius: 0 5px 5px 0;
    background-color: #cf2e2e;
    color: white;
    cursor: pointer;
}

.imagen-boton {
    width: 30px;
}

.logo_jimdur {
    width: 120px;
    height: 55px;
}

/* Estilos para el botón del menú hamburguesa */
.hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

/* Ocultar menú en dispositivos móviles y mostrar menú hamburguesa */
@media (max-width: 760px) {
    .barra-navegacion {
        flex-direction: column;
        align-items: center;
    }

    .enlaces-navegacion {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 0;
        background-color: white;
        width: 100%;
        border-top: 2px solid #ccc;
    }

    .enlaces-navegacion.nav-activo {
        display: flex;
    }

    .enlaces-navegacion li {
        text-align: center;
        margin: 10px 0;
    }

    .formulario-busqueda {
        margin-top: 10px;
        display: flex;
        width: 90%;
    }

    .formulario-busqueda input {
        width: 100%;
        border-radius: 25px 0 0 25px;
    }

    .boton-busqueda {
        border-radius: 0 25px 25px 0;
    }

    .hamburguesa {
        display: block;
    }
}

@media (max-width:1000px){
    .enlaces-navegacion a{
        font-size: 16px;
        padding: 5px 0px;

    }
    .formulario-busqueda{
        justify-content: center;
    }
    .formulario-busqueda input{
        width: 100%;
    }
}

/* --------------------------------------------------------- */
/* CODIGO DE CASTRO: RECOMENDACION: TRABAJAR METODOLOGIA BEM */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/motocicleta.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.contenedor {
    max-width: 1400px;
    margin: auto;
}
.banner h2{
    font-size: 2.5rem;
    margin: 10px;
}
.banner p{
    font-size: 1.125rem;
    margin: 10px;
}
.nuestra-historia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nuestra-historia .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nuestra-historia h2{
    font-size: 40px;
    margin: 40px 20px ;
    margin-bottom: 0px;
}
.nuestra-historia h2 .negro{
    color: black;
}
.nuestra-historia h2 .rojo{
    color: red;
}
.nuestra-historia p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.contenido-historia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-bottom: 50px;
    width: 80%;
}
.contenido-historia p{
    font-weight: normal;
}
.contenido-historia .texto{
    width: 100%;
    text-align: justify;
}
.contenido-historia .texto p:nth-child(2){
    text-align: right;
    font-weight: bold;
    margin-bottom: 0px;
}
.contenido-historia .texto p:nth-child(3){
    text-align: right;
    margin-top: 0px;
}
.contenido-historia .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imagen img{
    width: 80%;
}
.mision{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.mision .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mision .contenedor .contenido{
    text-align: center;
    width: 86%;
    margin: 0px 50px;
}
.mision .contenedor .contenido h2{
    font-size: 40px;
    margin: 20px;
}
.mision .contenedor .contenido h2 .rojo{
    color: red;
}
.mision .contenedor .contenido p:nth-child(2){
    font-weight: bold;
    margin: 20px;
}
.mision .contenedor .contenido p{
    font-size: 20px;
    margin: 20px;
}
.mision .contenedor .contenido p:nth-child(4){
    text-align: justify;
    font-style: italic;
}
.mision .contenedor .imagen{
    margin: 0;
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('../img/mision.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bd2626;
    color: white;
}
.vision .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision .contenedor .contenido{
    text-align: center;
    width: 86%;
    margin: 0px 50px;
}
.vision .contenedor .contenido h2{
    font-size: 40px;
    margin: 20px;
}
.vision .contenedor .contenido h2 .negro{
    color: rgb(0, 0, 0);
}
.vision .contenedor .contenido p:nth-child(2){
    font-weight: bold;
    margin: 20px;
}
.vision .contenedor .contenido p{
    font-size: 20px;
    margin: 20px;
}
.vision .contenedor .contenido p:nth-child(4){
    text-align: justify;
    font-style: italic;
}
.vision .contenedor .imagen{
    margin: 0;
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('../img/vision.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
/* --------------------------------------------------------- */
/* SECTION: PROOVEDORES (CODIGO DE DANIEL | COPY DE PROOVEDORES CONTACTO.CSS )*/

.proveedores{
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.proveedores__section{
    text-align: center;
    margin-bottom: 40px;
}

.proveedores__contenedor h2{
    text-transform: uppercase;
    font-size: 40px;
    color: #ff0000;
}

.proveedores__titulo-negrita{
    color: black;
}

.proveedores__contenedor p{
    font-size: 20px;
    padding-bottom: 40px;
}

.proveedores__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.proveedores__tarjeta {
    flex: 1 1 30%;
    max-width: 50%;
    border: 1px solid #ddd;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Set a fixed height for all cards */
}

.proveedores__tarjeta img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain; /* Ensure the image fits within the card */
}

.proveedores__tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px){
    .caja_contenedora{
        flex-direction: column;
    }
    .caja_contenedora .imagen{
        width: 50%;
    }
}
@media screen and (max-width: 770px){
    .proveedores{
        padding: 10px;
    }

    .proveedores__contenedor h2{
        font-size: 30px;
    }

    .proveedores__contenedor p{
        font-size: 16px;
    }

    .proveedores__tarjeta{
        flex: 1 1 100%;
        max-width: 100%;
        padding: 20px;
        height: 200px;
    }

    .proveedores__tarjeta img{
        width: 100%;
        padding: 20px;
    }
    .contenido-historia{
        flex-direction: column;
    }
    .mision .contenedor{
        flex-direction: column;
    }
    .vision .contenedor{
        flex-direction: column;
    }
}

/* --------------------------------------------------------- */
/* SECTION: WHATSAPP*/

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 10px;
}

.whatsapp__texto{
    margin-right: 10px;
    text-align: left;
    color: #444;
}

.whatsapp__ayuda{
    display: block;
}

.whatsapp__status{
    font-weight: bold;
    color: #1d1d1d;
    font-size: 10px;
    margin: 3px;
} 

.whatsapp__boton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50% 50%;
    padding: 10px;
    font-size: 30px;
}

/*media queries*/
@media (max-width: 768px) {
    /*NADVAR PARA DISPOSITIVOS MOVILES*/
    .barra-navegacion {
        flex-direction: column;
        align-items: center;
    }

    .enlaces-navegacion {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 0;
        background-color: white;
        width: 100%;
        border-top: 2px solid #ccc;
    }

    .enlaces-navegacion.nav-activo {
        display: flex;
    }

    .enlaces-navegacion li {
        text-align: center;
        margin: 10px 0;
    }

    .formulario-busqueda {
        margin-top: 10px;
        display: flex;
        width: 90%;
    }

    .formulario-busqueda input {
        width: 100%;
        border-radius: 25px 0 0 25px;
    }

    .boton-busqueda {
        border-radius: 0 25px 25px 0;
    }

    .hamburguesa {
        display: block;
    }

    /*CODIGO CASTRO:*/

    .imagen-nosotros {
        width: 50rem;
    }

    .titulo-caratula {
        text-wrap: wrap;
        font-size: 30px;
    }

    .titulo--parrafo {
        font-size: 20px;
    }

    .contenido-footer {
        flex-direction: column;
        align-items: center;
    }

    .linea-divisora {
        display: none;
    }

    .seccion-footer {
        padding: 20px 0;
    }

    .logos-redes {
        padding-left: 0;
    }

    .caja {
        font-size: 1rem;
    }

    .caja--contenido {
        font-size: 1rem;
    }

    .proveedores h2 {
        font-size: 1.5em;
    }

    .caja_contenedora {
        flex-direction: column;
        align-items: center;
    }

    .caja_contenido2 {
        width: 28rem;
        margin: 0px 0;
    }

    .caja_autor {
        padding-left: 0;
        width: 165%;
        text-align: center;
    }

    .imagen {
        width: 50%;
        margin: 10px 0;
    }

    .caja_contenedora--new {
        flex-direction: column;
        margin-top: 20px;
    }
}

/* --------------------------------------------------------- */
/* FOOTER */
.pie-pagina {
    background-color: #000000e7;
    color: #fff;
    padding: 20px 5%;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.pie-pagina__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pie-pagina__seccion {
    flex: 1 1 300px;
    padding: 0 20px;
}

.pie-pagina__logo img {
    width: 140px;
    margin-top: 10px;
    padding-left: 0px;
}

.pie-pagina__descripcion {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

.pie-pagina__linea-divisora {
    height: 260px;
    width: 2px;
    background-color: #fff;
    margin-left: 10%;
}

.pie-pagina__enlaces h3,
.pie-pagina__contactos h3,
.pie-pagina__redes-sociales {
    color: #ff0040;
    text-transform: uppercase;
    padding-left: 70px;
    padding-top: 0;
    margin-top: 0;
}

.pie-pagina__enlaces ul,
.pie-pagina__contactos ul {
    list-style-type: none;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
}

.pie-pagina__enlaces ul li,
.pie-pagina__contactos ul li {
    margin-bottom: 5px;
}

.pie-pagina__enlaces a,
.pie-pagina__contactos a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.pie-pagina__enlaces a:hover,
.pie-pagina__contactos a:hover {
    color: #ea4444;
    text-decoration: none;
}

.pie-pagina__titulo-logo{
    display: none;
}

.pie-pagina__redes-sociales a{
    background-color: white;
    border-radius: 50% 50%;
    margin: 0 3px;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .pie-pagina__contenido {
        align-items: flex-start;
    }

    .pie-pagina__linea-divisora {
        display: none;
    }

    .pie-pagina__seccion {
        padding: 10px 0;
        width: 100%;
    }

    .pie-pagina__titulo-logo {
        display: block;
        font-size: 15px;
    }

    .pie-pagina__logo img {
        display: none;
        padding-left: 0;
        width: 100px;
    }

    .pie-pagina__descripcion {
        text-align: left;
        font-size: 13px;
        color: #d3d3d3;
    }

    .pie-pagina__enlaces h3,
    .pie-pagina__contactos h3,
    .pie-pagina__redes-sociales {
        padding-left: 0;
        font-size: 15px;
        color: white;
    }

    .pie-pagina__enlaces ul,
    .pie-pagina__contactos ul {
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .pie-pagina__enlaces a,
    .pie-pagina__contactos a {
        color: #d3d3d3;
        padding: 0;
        margin: 0;
    }

    .pie-pagina__enlaces a:hover,
    .pie-pagina__contactos a:hover {
        color: #ea4444;
        text-decoration: underline; 
    }

    .pie-pagina__lista-item a {
        color: #d3d3d3;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    
    .pie-pagina__redes-sociales a{
        background-color: white;
        border-radius: 50% 50%;
        margin: 0 3px;
        padding: 10px;
        color: #1d1d1d;
        text-decoration: none;
        font-size: 15px;
    }
}