/* MODO OSCURO */
body.dark {
    color: white;
    background-color: #121212;
}

.dark h2,
.dark h3 {
    color: white !important;
}

.dark p {
    color: white !important;
}

/* ============== CSS HEADER ===================== */

.dark .navbar {
    color: white;
    background-color: rgb(35, 35, 35) !important;
}

.--oculto {
    display: none;
}

.dark .navbar .nav-link {
    color: white;
}

.dark .navbar .nav-link:hover {
    color: #ffcccb;
    /* Un color diferente para el hover en modo oscuro */
}

.dark .navbar .nav-link.active {
    color: rgb(251, 66, 66);
    /* Un color diferente para el active en modo oscuro */
}

.dark .navbar .form-control {
    background-color: #333;
    outline: none;
    border: none !important;
}

.dark .navbar .form-control:focus {
    background-color: #333;
    outline: none;
    border: none !important;
    border-bottom: 3px solid #dc3545 !important;
}

.dark .navbar .form-control::placeholder {
    color: rgba(217, 217, 217, 0.729);
}

/* Cambiar color de las líneas del botón hamburguesa a blanco */
.dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dark .navbar-toggler {
    border: 1px solid #444;
}

/* Quitar contorno del botón al hacer clic */
.navbar-toggler:focus {
    box-shadow: none !important;
}

/* ============== CSS HERO SECTION ===================== */

.dark .banner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/banner_productos.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* ============== CSS PRODUCTOS SECTION ===================== */

.dark .productos {
    background-color: #2a2a2a;
}

.dark .producto{
    background-color: #333;
    border: none;
    box-shadow: 0 0 1px white;
}

.dark .negro{
    color: white !important;
}

/* ============== CSS PROVEEDORES ===================== */

.dark .seccion-proveedores {
    background-color: #333;
}

.dark .proveedor-card {
    background-color: #2a2a2a !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ============== FIN  CSS DARK ===================== */

/* Estilos globales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Estilos para la barra de navegación */


.active {
    border-bottom: 3px solid #dc3545 !important;
}

.navbar {
    box-shadow: 0 0 5px rgb(0, 0, 0) !important;
    position: fixed !important;
    background-color: white !important;
    top: 0% !important;
    width: 100% !important;
    z-index: 1000 !important;
}

/* Estilos para la barra de navegación */

.contenedor {
    max-width: 1400px;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner_productos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner h2 {
    font-size: 2.5rem;
    margin: 10px;
}

.banner p {
    font-size: 1.125rem;
    margin: 10px;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f4f4;
}

.productos h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    margin: 10px;
}

.productos p {
    margin-top: 0;
}

.productos h2 .negro {
    color: black;
}

.productos h2 .rojo {
    color: red;
}

.producto-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: background 0.4s;
    transition: transform 0.4s;
}

.producto:hover {
    transform: scale(1.03);
    background: #cf2e2e;
    color: white;
}

.producto img {
    max-width: 100%;
    max-height: 100%;
}

.imagen-conteiner {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.precio {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/* Estilos para contenido principal */

/* Contenedor de la sección "Principal- La de la imagen" */
.contenido {
    margin: 0 auto;
    padding: 0;
}

.seccion-proveedores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Nuestros {
    color: black;
}

.Proveedores {
    color: #ff0000;
}

.contenedor-proveedores {
    margin: 10px;
}

.contenedor-proveedores h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.contenedor-proveedores p {
    font-size: 20px;
    padding-bottom: 40px;
}

.flex-proveedores {
    margin: 0 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.tarjeta-proveedor {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Máximo ancho de cada tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s linear;
    box-sizing: border-box;
}

.tarjeta-proveedor img {
    max-width: 100%;
    height: 120px;
    margin: 10% 0;
}

.tarjeta-proveedor:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Efecto hover */
}

@media (max-width:1000px) {
    .enlaces-navegacion a {
        font-size: 16px;
        padding: 5px 0px;

    }

    .formulario-busqueda {
        justify-content: center;
    }

    .formulario-busqueda input {
        width: 100%;
    }

    .productos h2 {
        font-size: 30px;
    }

    .producto-lista {
        grid-template-columns: repeat(3, 1fr);
    }

    .flex-proveedores {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ocultar menú en dispositivos móviles y mostrar menú hamburguesa */
@media (max-width: 760px) {
    .producto-lista {
        grid-template-columns: repeat(1, 1fr);
    }

    .productos h2 {
        font-size: 25px;
    }

    .flex-proveedores {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

/* CSS PROOVEDORES */

/* STYLE PARA LOS PROOVEDORES */
.proveedor-card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-top: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proveedor-card img {
    position: absolute;
    max-width: 80%;
    /* Asegura que la imagen se mantenga dentro de la tarjeta */
    max-height: 80%;
    /* Asegura que la imagen se mantenga dentro de la tarjeta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.proveedor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.proveedor-card:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.text-reset {
    text-decoration: none;
}