/* Estilos globales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 30px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 40px #0000;
    position: relative;
    min-width: 220px;
    /* Añadido */
    z-index: 1;
    /* Añadido */
}
.contenedor{
    max-width: 1400px;
    margin: auto;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 498px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/img/banner_productos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.banner h2{
    font-size: 60px;
    margin: 10px;
}
.banner p{
    font-size: 20px;
    margin: 10px;
}
.enlaces-navegacion {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.enlaces-navegacion li {
    margin: 0 10px;
}

.enlaces-navegacion a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
}

.enlaces-navegacion a.activo {
    background-color: #cf2e2e;
    color: white;
    height: 70px;
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-busqueda {
    display: flex;
}

.formulario-busqueda input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.boton-busqueda {
    padding: 5px 10px;
    border: 1px solid #cf2e2e;
    border-radius: 0 5px 5px 0;
    background-color: #cf2e2e;
    color: white;
    cursor: pointer;
}

.imagen-boton {
    width: 30px;
}

.logo_jimdur {
    width: 120px;
    height: 55px;
}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f4f4;
}
.productos h2{
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    margin: 10px;
}
.productos p{
    margin-top: 0;
}
.productos h2 .negro{
    color: black;
}
.productos h2 .rojo{
    color: red;
}
.producto-lista{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
}
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: background 0.4s;
    transition: transform 0.4s;
}
.producto:hover{
    transform: scale(1.03);
    background: #cf2e2e;
    color: white;
}
.producto img{
    max-width: 100%;
    max-height: 100%;
}
.imagen-conteiner{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.precio{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
} 

/* Estilos para el botón del menú hamburguesa */
.hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    /* Asegúrate de que esté por encima de otros elementos */
}


/* Estilos para contenido principal */

/* Contenedor de la sección "Principal- La de la imagen" */
.contenido {
    margin: 0 auto;
    padding: 0;
}

.seccion-proveedores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Nuestros {
    color: black;
}

.Proveedores {
    color: #ff0000;
}
.contenedor-proveedores{
    margin: 10px;
}
.contenedor-proveedores h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.contenedor-proveedores p {
    font-size: 20px;
    padding-bottom: 40px;
}
.flex-proveedores {
    margin: 0 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.tarjeta-proveedor {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Máximo ancho de cada tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s linear;
    box-sizing: border-box;
}

.tarjeta-proveedor img {
    max-width: 100%;
    height: 120px;
    margin: 10% 0;
}

.tarjeta-proveedor:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Efecto hover */
}

.contenedor-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 10px;
}

.contenedor-whatsapp .text {
    margin-right: 10px;
    text-align: left;
    color: #444;
}

.contenedor-whatsapp .text span {
    display: block;
}

.contenedor-whatsapp .text .status {
    font-weight: bold;
    color: #1d1d1d;
    font-size: 10px;
    margin: 3px;

}

.boton-wsp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50% 50%;
    padding: 10px;
    font-size: 30px;
}

.boton-wsp:hover {
    background-color: #20b858;
}


@media (max-width:1000px){
    .enlaces-navegacion a{
        font-size: 16px;
        padding: 5px 0px;

    }
    .formulario-busqueda{
        justify-content: center;
    }
    .formulario-busqueda input{
        width: 100%;
    }
    .productos h2{
        font-size: 30px;
    }
    .producto-lista{
        grid-template-columns: repeat(3,1fr);
    }
    .flex-proveedores {
        grid-template-columns: repeat(2,1fr);
    }
}
/* Ocultar menú en dispositivos móviles y mostrar menú hamburguesa */
@media (max-width: 760px) {
    .banner h2{
        font-size: 50px;
    }
    .boton-busqueda {
        border-radius: 0 25px 25px 0;
    }
    .barra-navegacion {
        flex-direction: column;
        align-items: center;
    }

    .enlaces-navegacion {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 0;
        background-color: white;
        width: 100%;
        border-top: 2px solid #ccc;
    }

    .enlaces-navegacion.nav-activo {
        display: flex;
    }
    .enlaces-navegacion li {
        text-align: center;
        margin: 10px 0;
    }

    .formulario-busqueda {
        margin-top: 10px;
        display: flex;
        width: 90%;
    }

    .formulario-busqueda input {
        width: 100%;
        border-radius: 25px 0 0 25px;
    }
    .hamburguesa {
        display: block;
    }
    .producto-lista{
        grid-template-columns: repeat(1,1fr);
    }
    .productos h2{
        font-size: 25px;
    }
    .flex-proveedores {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}

/* --------------------------------------------------------- */
/* FOOTER */
.pie-pagina {
    background-color: #000000e7;
    color: #fff;
    padding: 20px 5%;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.pie-pagina__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pie-pagina__seccion {
    flex: 1 1 300px;
    padding: 0 20px;
}

.pie-pagina__logo img {
    width: 140px;
    margin-top: 10px;
    padding-left: 0px;
}

.pie-pagina__descripcion {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

.pie-pagina__linea-divisora {
    height: 260px;
    width: 2px;
    background-color: #fff;
    margin-left: 10%;
}

.pie-pagina__enlaces h3,
.pie-pagina__contactos h3,
.pie-pagina__redes-sociales {
    color: #ff0040;
    text-transform: uppercase;
    padding-left: 70px;
    padding-top: 0;
    margin-top: 0;
}

.pie-pagina__enlaces ul,
.pie-pagina__contactos ul {
    list-style-type: none;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
}

.pie-pagina__enlaces ul li,
.pie-pagina__contactos ul li {
    margin-bottom: 5px;
}

.pie-pagina__enlaces a,
.pie-pagina__contactos a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.pie-pagina__enlaces a:hover,
.pie-pagina__contactos a:hover {
    color: #ea4444;
    text-decoration: none;
}

.pie-pagina__titulo-logo{
    display: none;
}

.pie-pagina__redes-sociales a{
    background-color: white;
    border-radius: 50% 50%;
    margin: 0 3px;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .pie-pagina__contenido {
        align-items: flex-start;
    }

    .pie-pagina__linea-divisora {
        display: none;
    }

    .pie-pagina__seccion {
        padding: 10px 0;
        width: 100%;
    }

    .pie-pagina__titulo-logo {
        display: block;
        font-size: 15px;
    }

    .pie-pagina__logo img {
        display: none;
        padding-left: 0;
        width: 100px;
    }

    .pie-pagina__descripcion {
        text-align: left;
        font-size: 13px;
        color: #d3d3d3;
    }

    .pie-pagina__enlaces h3,
    .pie-pagina__contactos h3,
    .pie-pagina__redes-sociales {
        padding-left: 0;
        font-size: 15px;
        color: white;
    }

    .pie-pagina__enlaces ul,
    .pie-pagina__contactos ul {
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .pie-pagina__enlaces a,
    .pie-pagina__contactos a {
        color: #d3d3d3;
        padding: 0;
        margin: 0;
    }

    .pie-pagina__enlaces a:hover,
    .pie-pagina__contactos a:hover {
        color: #ea4444;
        text-decoration: underline; 
    }

    .pie-pagina__lista-item a {
        color: #d3d3d3;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    
    .pie-pagina__redes-sociales a{
        background-color: white;
        border-radius: 50% 50%;
        margin: 0 3px;
        padding: 10px;
        color: #1d1d1d;
        text-decoration: none;
        font-size: 15px;
    }
}