body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    border-bottom: 2px solid #ccc;
    line-height: 50px; 
    box-shadow: 0 0 40px #0000 ;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-links {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
   
}

.nav-links a.active {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100px;
    text-align: center;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 0 5px 5px 0;
    background-color: red;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: darkred;
}

.imagenboton{
    width: 30px;
}

.logo_jimdur{
    display: flex;
    width: 120px;
    height: 55px;
    margin: 0;
    padding: 0;
}